<strong>Hi, {{ provider }}</strong>
<p>There was an appointment cancelation. See details below:</p>
<p>
  <strong>Client: </strong>{{ user }} <br>
  <strong>Date: </strong>{{ date }} <br>
  <br>
  <small>
    Time is now available for new appointments.
  </small>
</p>